<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <!-- navbar ends here & main header starts -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
             <!-- right-side div  -->
             <div class="col-md-6 col-12 main_header_right">
                <figure class="header_hero_img">
                  <img src="images/shu.jpg" alt="Shubham" title="Shubham">
                </figure>
            </div>
            <!-- left-side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>
                I am a <span class="text_clr"> full-stack developer </span> & very much passionate to learn new ideas in the tech world.....😊 
              </p>
              <a href="/register"><button>Login / Register</button></a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer part -->
    {{>footer}}

    {{!-- <script src="js/main.js"></script> --}}
  </body>
</html>
